<div class="container">
  <form class="container" [formGroup]="newForm">
    <div class="row">
      User First Name <br /><input type="text" formControlName="firstName" />
    </div>
    <div class="row">
     User Last Name <br /><input type="text" formControlName="lastName" />
    </div>
    <div class="row">
      Username <br /><input type="text" formControlName="login" />
    </div>
    <div class="row">
      Password <br /><input type="password" formControlName="password" />
    </div>
    <div class="row">
      Age <br /><input type="number" formControlName="age" />
    </div>
  </form>
  <div style="margin: 10px;">
    <button id="newuser" class="btn btn-primary" (click)="newUser()">
      AddUser
    </button>
  </div>
</div>
