<div class="container">
  <form class="card border-0" [formGroup]="newForm">
    <div class="row m-1">
      <p class="col-lg-6">User First Name</p>
      <br /><input class="col-lg-6" type="text" formControlName="firstName" />
    </div>
    <div class="row m-1">
      <p class="col-lg-6">User Last Name</p>
      <br /><input class="col-lg-6" type="text" formControlName="lastName" />
    </div>
    <div class="row m-1">
      <p class="col-lg-6">UsertName</p>
      <br /><input class="col-lg-6" type="text" formControlName="login" />
    </div>
    <div class="row m-1">
      <p class="col-lg-6">password</p>
      <br /><input
        class="col-lg-6"
        type="password"
        formControlName="password"
      />
    </div>
    <div class="row m-1">
      <p class="col-lg-6">Age</p>
      <br /><input class="col-lg-6" type="number" formControlName="age" />
    </div>
  </form>
  <div style="margin: 10px;">
    <button id="newuser" class="btn btn-primary" (click)="newUser()">
      AddUser
    </button>
  </div>
</div>
