<main class="ml-10 p-3 container">
  <button class="col-xs-1 btn btn-primary"
    routerLink="active"
    RouterLinkActive="active"
    RouterLinkActiveOptions="{exact:true}"
    style="margin-left: 5rem;"
  >
    Active
  </button>
  <button class="col-xs-3 btn btn-danger"
    routerLink="deleted"
    RouterLinkActive="active"
    RouterLinkActiveOptions="{exact:true}"
    style="margin-left: 5rem;"
  >
    Deleted
  </button>
  <button class="col-xs-6 btn btn-info"
    routerLink="manage"
    RouterLinkActive="active"
    RouterLinkActiveOptions="{exact:true}"
    style="margin-left: 5rem;"
  >
    manage
  </button>
</main>
<router-outlet></router-outlet>
